@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Inter";
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: start;
}

.elements-wrapper {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid white;
  box-shadow: 0 51px 114px rgba(199, 199, 199, 0.15), 0 15.375px 34.3677px rgba(199, 199, 199, 0.0895633), 0 6.38599px 14.2746px rgba(199, 199, 199, 0.0605927), 0 2.30969px 5.16283px rgba(199, 199, 199, 0.0352376);
  border-radius: 12px;
  max-width: 1024px;
  background-color: #FFFFFF;
  margin-bottom: 40px;
}
.element-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.element-body {
  display: flex;
  flex-direction: row;
  max-height: 300px;
  transition: all 0.2s ease;
}
.element-body.collapsed {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.element_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.element_col.align-start {
  align-items: flex-start;
}
.element_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rate {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
}
.rate_value {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32.8165px;
  line-height: 120%;
  margin-bottom: 10px;
  color: #55626E;
}
.rate_stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.rate_stars .star {
  width: 11px;
  height: 11px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.rate_info {
  content: "";
  background-image: url("../assets/info.svg");
  width: 12px;
  height: 12px;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
}

.brand {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #626E79;
  margin-bottom: 12px;
}

.model {
  font-family: "Inter";
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #55626E;
}

.discount {
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding: 2px 4px;
  background: #55A0EA;
  border-radius: 4px;
  width: fit-content;
}

.view-deal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 44px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background-color: #0B76E0;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  width: 246px;
  height: 44px;
  border: 1px solid #0B76E0;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.2px;
  color: #0B76E0;
  background-color: #FFFFFF;
}

.label-offer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.2px;
  position: absolute;
  box-sizing: border-box;
  width: 140px;
  height: 32px;
  left: -6px;
  top: -16px;
  border-radius: 0 8px 8px 0;
  padding: 5px 0 5px 36px;
}
.label-offer:after {
  content: "";
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 7px;
  left: 11px;
  width: 14px;
  height: 16px;
}
.label-offer:before {
  position: absolute;
  content: "";
  top: 32px;
  left: 0;
  width: 10px;
  height: 10px;
  transform-origin: top left;
  transform: rotate(-45deg);
  z-index: -1;
}
.label-offer_value {
  color: #0B76E0;
  background: #D5EAFF;
}
.label-offer_value:after {
  background-image: url("../assets/fire.svg");
}
.label-offer_choice {
  color: #FFFFFF;
  background: #FF5C00;
}
.label-offer_choice:after {
  background-image: url("../assets/trophy.svg");
}
.label-offer_choice:before {
  background-color: #B04000;
}

.show-more {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.2px;
  color: #55626E;
  width: fit-content;
  margin-right: 16px;
  cursor: pointer;
}
.show-more:after {
  position: absolute;
  content: "";
  background-image: url("../assets/arrow-down.svg");
  width: 11px;
  height: 6px;
  top: 8px;
  right: -16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transform: rotate(180deg);
}
.show-more.collapsed:after {
  transform: rotate(0);
}

.shop-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.2px;
  color: #626E79;
}

.description-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #55626E;
  margin-bottom: 8px;
}
.description-content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #7B8997;
  max-width: 545px;
}

.price-full {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #2C384A;
  margin-bottom: 8px;
}
.price-old {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #9FA9B3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.price-old span {
  text-decoration: line-through;
}
.price-discount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #DF0923;
  margin-left: 8px;
}

@media screen and (min-width: 1024px) {
  .element-header {
    min-height: 176px;
    align-items: flex-start;
  }
  .element-header .element_col {
    height: 100%;
  }
  .element-header .element_col:nth-child(1) {
    margin-right: 24px;
    margin-top: 16px;
    margin-left: 131px;
  }
  .element-header .element_col:nth-child(1) img {
    width: 220px;
    height: 128px;
    object-fit: contain;
  }
  .element-header .element_col:nth-child(1) .rate {
    display: none;
  }
  .element-header .element_col:nth-child(1) .brand {
    display: none;
  }
  .element-header .element_col:nth-child(2) {
    margin-right: 29px;
    margin-top: 16px;
    justify-content: flex-start;
  }
  .element-header .element_col:nth-child(2) .show-more {
    display: none;
  }
  .element-header .element_col:nth-child(3) {
    margin-right: 36px;
    margin-top: 59px;
  }
  .element-header .element_col:nth-child(4) {
    margin-top: 65px;
    margin-right: 17px;
  }
  .element-header .element_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .element-header .view-deal {
    margin-bottom: 21px;
  }
  .element-body {
    justify-content: space-between;
    margin-top: 17px;
    padding-bottom: 34px;
  }
  .element-body .view {
    margin-top: 24px;
  }
  .element-body .element_col {
    height: 100%;
  }
  .element-body .element_col:nth-child(1) {
    margin-left: 131px;
  }
  .element-body .element_col:nth-child(2) {
    margin-right: 15px;
    margin-top: 46px;
  }
  .element-body .element_row {
    align-items: flex-end;
    justify-content: space-between;
  }
  .element-body .element_row:nth-child(2) .shop-logo {
    display: none;
  }
  .element-body .shop-logo {
    margin-left: 31px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .element-body .shop-logo img {
    transform: translateY(10px);
  }
  .element-body .discount {
    font-size: 12px;
  }
}
@media screen and (min-width: 672px) and (max-width: 1023px) {
  .element {
    max-width: 672px;
  }
  .element .label-offer {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.2px;
    height: 28px;
    padding-right: 8px;
    width: fit-content;
  }
  .element .label-offer:before {
    top: 28px;
  }
  .element-header {
    min-height: 132px;
    align-items: flex-start;
  }
  .element-header .element_col {
    height: 100%;
  }
  .element-header .element_col:nth-child(1) {
    margin-right: 25px;
    margin-top: 19px;
    margin-left: 15px;
  }
  .element-header .element_col:nth-child(1) img {
    width: 118px;
    height: 75px;
    object-fit: contain;
  }
  .element-header .element_col:nth-child(1) .rate {
    display: none;
  }
  .element-header .element_col:nth-child(1) .brand {
    display: none;
  }
  .element-header .element_col:nth-child(2) {
    margin-right: 19px;
    margin-top: 12px;
    justify-content: flex-start;
  }
  .element-header .element_col:nth-child(2) .model {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
  }
  .element-header .element_col:nth-child(2) .brand {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.2px;
  }
  .element-header .element_col:nth-child(2) .show-more {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-bottom: 11px;
  }
  .element-header .element_col:nth-child(2) .show-more:after {
    top: 5px;
  }
  .element-header .element_col:nth-child(3) {
    margin-right: 37px;
    margin-top: 39px;
  }
  .element-header .element_col:nth-child(4) {
    margin-top: 48px;
    margin-right: 17px;
  }
  .element-header .element_col:nth-child(4) .show-more {
    display: none;
  }
  .element-header .element_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .element-header .view-deal {
    width: 171px;
    height: 36px;
    padding: 4px 40px;
    gap: 10px;
    margin-bottom: 21px;
    font-size: 14px;
  }
  .element-header .shop-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 140%;
    text-align: right;
  }
  .element-header .brand {
    margin-bottom: 4px;
    font-weight: 400;
  }
  .element-header .discount {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
  }
  .element-header .rate_value {
    font-size: 20px;
  }
  .element-header .rate_stars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .element-header .rate_stars .star {
    width: 8.19px;
    height: 8.19px;
  }
  .element-header .rate_info {
    width: 9.05px;
    height: 9.05px;
    top: 5.21%;
    bottom: 5.21%;
  }
  .element-body {
    margin-top: 9px;
    padding-bottom: 4px;
  }
  .element-body .price {
    margin-bottom: 12px;
  }
  .element-body .price-full {
    margin-bottom: 4px;
    font-size: 16px;
  }
  .element-body .price-old {
    font-size: 14px;
  }
  .element-body .price-discount {
    font-size: 12px;
    margin-left: 4px;
  }
  .element-body .price span {
    text-decoration: line-through;
  }
  .element-body .description-title {
    font-size: 18px;
    font-weight: 600;
  }
  .element-body .description-content {
    font-size: 14px;
    font-weight: 300;
  }
  .element-body .description-content ul {
    margin: 0 0 0 16px;
    padding: 0;
  }
  .element-body .view {
    width: 94px;
    height: 36px;
    margin-left: 27px;
    margin-right: 17px;
  }
  .element-body .element_col:nth-child(1) {
    margin-left: 16px;
  }
  .element-body .element_col:nth-child(2) {
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 16px;
    margin-left: 20px;
  }
  .element-body .element_row {
    align-items: flex-end;
    justify-content: space-between;
  }
  .element-body .element_row:nth-child(1) .shop-logo {
    display: none;
  }
  .element-body .element_row:nth-child(2) {
    align-items: center;
    justify-content: space-between;
  }
  .element-body .element_row:nth-child(2) .shop-logo {
    margin-left: 0;
    width: 53px;
    height: 26px;
  }
  .element-body .element_row:nth-child(2) .shop-logo img {
    width: 53px;
    height: 26px;
    object-fit: contain;
    transform: translateY(0);
  }
}
@media screen and (min-width: 340px) and (max-width: 672px) {
  .element {
    max-width: 340px;
  }
  .element-header {
    flex-direction: column;
    padding: 42px 20px 19px;
    box-sizing: border-box;
  }
  .element-header .image {
    width: 160px;
    height: 101px;
  }
  .element-header .image img {
    width: 160px;
    height: 101px;
    object-fit: contain;
  }
  .element-header .element_col {
    height: 100%;
  }
  .element-header .element_col:nth-child(1) .rate {
    position: absolute;
    top: 83px;
    right: 27px;
  }
  .element-header .element_col:nth-child(1) .rate_value {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 2px;
  }
  .element-header .element_col:nth-child(1) .rate_stars .star {
    width: 8px;
    height: 8px;
  }
  .element-header .element_col:nth-child(1) .rate_info {
    top: -2px;
    right: -6px;
  }
  .element-header .element_col:nth-child(2) {
    flex-direction: column-reverse;
  }
  .element-header .element_col:nth-child(2) .brand {
    display: none;
  }
  .element-header .element_col:nth-child(2) .show-more {
    display: none;
  }
  .element-header .element_col:nth-child(2) .discount {
    width: fit-content;
    font-size: 12px;
    padding: 2px 4px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .element-header .element_col:nth-child(2) .model {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 28px;
  }
  .element-header .element_col:nth-child(3) .rate {
    display: none;
  }
  .element-header .element_col:nth-child(4) .view-deal {
    font-size: 16px;
    font-weight: 500;
    width: 300px;
    margin-bottom: 16px;
  }
  .element-header .element_col:nth-child(4) .element_row {
    justify-content: space-between;
    width: 100%;
  }
  .element-header .element_col:nth-child(4) .shop-name {
    font-size: 14px;
    font-weight: 400;
  }
  .element-header .element_col:nth-child(4) .show-more {
    font-size: 14px;
    font-weight: 400;
  }
  .element-body {
    flex-direction: column;
    margin-top: -9px;
    padding: 0 20px 18px;
    box-sizing: border-box;
    width: 100%;
    max-height: 500px;
  }
  .element-body .description-title {
    font-size: 18px;
    font-weight: 700;
  }
  .element-body .description-content {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 24px;
  }
  .element-body .description-content ul {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .element-body .element_col:nth-child(2) .price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .element-body .element_col:nth-child(2) .price-full {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .element-body .element_col:nth-child(2) .price-old {
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }
  .element-body .element_col:nth-child(2) .price-discount {
    font-size: 10px;
    font-weight: 400;
    margin-left: 8px;
  }
  .element-body .element_col:nth-child(2) .element_row:nth-child(1) .shop-logo {
    display: none;
  }
  .element-body .element_col:nth-child(2) .element_row:nth-child(2) .shop-logo {
    width: 79px;
    height: 39px;
  }
  .element-body .element_col:nth-child(2) .element_row:nth-child(2) .shop-logo img {
    width: 79px;
    height: 39px;
    object-fit: contain;
  }
  .element-body .element_col:nth-child(2) .element_row:nth-child(2) .view {
    width: 152px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 34px;
  }
}

/*# sourceMappingURL=style.css.map */
